:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  background-image: url("src/assets/table-of-toast-toast-combinations.webp");
  background-repeat: no-repeat;
  /* center the background image */
  background-position: center;
  background-size: cover;
}

